Microservice\ architecture/Database/Database
Microservice\ architecture/Frontend/Frontend
Microservice\ architecture/Master/Master
Microservice\ architecture/Storage/Storage
Microservice\ architecture/Worker/Worker
Microservice\ architecture/keyvaluestore/keyvaluestore

